body {
    background-color: #303030;
}

.lucida {
  font-family: "Lucida Console";
}

.h1-title-top {
  font: 4em "Lucida Console";
  color: gray;
  letter-spacing: .4em;
  margin-right: -.4em; /* removes trailing letter spacing */
}

.h2-title-bottom {
  font: 2em  "Monaco";
  color: gray;
  letter-spacing: 1em;
  margin-right: -1em;
}

@media only screen and (max-width:768px) {
    .h1-title-top {
      font-size: 2.8em;
    }
    .h2-title-bottom {
      font-size: 1.75em;
    }
}

@media only screen and (max-width:428px) {
    .h1-title-top {
      font-size: 2.5em;
    }
    .h2-title-bottom {
      font-size: 1.5em;
    }
}
